# Zig build artifacts
.zig-cache/
zig-out/

# macOs Directory
**/.DS_Store

**/**.luac
**/**.gz

# Vscode
.vscode/
# Zed
.zed/
# Neovim
.nvim.lua
.nvimrc
.nvim/
# Emacs
.dir-locals.el
# Nix Environment
shell.nix
